* {
outline: solid #123456;}
:root {
    --viewport-height: 100dvh;
    --web-ui_button-border-radius: 16px;
    --color-snow: 19,31,36;
    --color-snow-always-light: 255,255,255;
    --color-snow-always-dark: 19,31,36;
    --color-black-text: 241,247,251;
    }
html {
    overflow-scrolling: touch;
    box-sizing: border-box;
    overflow-y: scroll;
    touch-action: manipulation
}

@media (min-width: 700px) {
    html {
        overflow-scrolling:auto
    }
}
body {
  background: rgb(19,31,36);
  background: linear-gradient(90deg, rgba(50,81,95,1) 0%, rgba(123,123,123,0.644782913165266) 33%, rgba(123,123,123,0.5635504201680672) 72%);


  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: flex-start;
  margin: 0px;
  width: 100vw;


    color: rgb(var(--color-black-text));
    font: 500 17px/20px sans-serif
}

@media (min-width: 700px) {
    body {
        padding-bottom:var(--onetrust-banner-height,0)
    }
}



header {
	width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}


.heading {
	text-align: center;
	height: inherit;
	background-color: #131f24;
	box-shadow: 0 3px 10px;
	padding: 1vw;
    position: fixed; top: 0;
    width: 100%;
	z-index: 1;
}
#header_title {
    height: inherit;
	float: left;
	margin: 0vw 2vw;
    font-size: calc(14px + 2vw);

    font-weight: bold;
    text-decoration: underline wavy;
    color: #58a700;
    font-family: 'PenguinAttackCyrillic';
}


.reg_button, .profile_button {
    height: inherit;
	background-color: #58a700;
	text-align: center;
	border-radius: 2vw;
	margin-right: 4vw;
	font-size: calc(10px + 2vw);
	padding: 0.2% 1%;
	border: 0;
	text-decoration: none;
	color: #131f24;
	user-select:none;
	font-family: 'PenguinAttackCyrillic';
}


.form  {
    padding: 7%;
    margin-top: 7%;
    margin-right: 8%;
    margin-left: 1%;
    font-size: calc(1pem + 2vw);
    color: rgb(var(--color-black-text));

}

.form p {
    font-size: calc(0.7pem + 2vw);
}

.form_student {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 8%;
    margin-left: 1%;
  width: calc(400px + (700 - 400) * ((100vw - 500px) / (1920 - 500)));
}

.profile_page{
    padding: 7%;
    margin-top: 7%;
    font-size: calc(1pem + 2vw);
    color: rgb(var(--color-black-text));
    }

.img-thumbnail {
   display: flex;
   flex-direction: row;
   width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
   border-radius: 25% 10%;

}

 @font-face {
	font-family: 'PenguinAttackCyrillic';
	src: url("../font/19844.otf");
}

. table_container {
  padding: 7%;
  margin-top: 7%;
  margin-right: 8%;
    margin-left: 1%;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
  width: calc(400px + (1200 - 400) * ((100vw - 500px) / (1920 - 500)));
  font-size: calc(1pem + 2vw);
}

.days-list{
    padding: 7%;
    margin-top: 8%;
    margin-right: 8%;
    margin-left: 1%;

    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    column-gap:20px;
    row-gap:30px;
    font-size: calc(16px + (32 - 16) * ((100vw - 500px) / (1920 - 500)));
}

.days-list-many {
 margin-right: 8%;
    margin-left: 1%;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;

}
.days-list-many a{
    text-decoration: none;
    color: rgb(19,31,36);
    }


.days-list a :visited { text-decoration: none; }
.days-list a:active { text-decoration: none; }
.days-list a:hover {
    text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
     /* Цвет ссылки */
   }

.days-list a{
    text-decoration: none;
    color: rgb(19,31,36);
   }
.days-list a :visited { text-decoration: none; }
.days-list a:active { text-decoration: none; }
.days-list a:hover {
    text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
     /* Цвет ссылки */
   }

.days-list-img{
   margin: 10px auto 20px;
   display: block;
   width: calc(85px + (200 - 85) * ((100vw - 500px) / (1920 - 500)));
}

.books_page_sort {
   grid-column-start: 2;
  grid-column-end: -1;
}

.books_page_filter label
{
   margin: 1%;

}

.books_page_ready {
outline: solid #f34567;
margin-top: 7%;
margin-right: 8%;
    margin-left: 1%;
}

.books_page_task {

grid-column-start: 1;
  grid-column-end: 3;
 grid-row-start: 1;
   grid-row-end: 4;
}


.book_page {

    padding: 5% 7% 1%;
    margin-top: 7%;
margin-right: 8%;
    margin-left: 1%;
flex-direction: row;
   flex-wrap: wrap;
    font-size: calc(16px + (28 - 16) * ((100vw - 500px) / (1920 - 500)));

}

.book_page img{
    margin: 10px auto 20px;
    display: block;
    width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

.book_comment {
    padding: 1% 7%;
    margin-left:-20px;
    margin-right:20px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap:20px;
    font-size: calc(10px + (32 - 10) * ((100vw - 500px) / (1920 - 500)));

}

/*.title_book_page {

     grid-column-start: 1;
  grid-column-end: -1;

}*/

.comment {
  padding: 1% 7%;
    margin-left:-20px;
    margin-right:20px;
  display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap:20px;
    row-gap:30px;
    font-size: calc(14px + (28 - 14) * ((100vw - 500px) / (1920 - 500)));
}

progress {
  accent-color: #58a700;
}

.task-list{
    padding: 2%;
    margin-top: 2%;
    margin-right: 8%;
    margin-left: 1%;


    font-size: calc(16px + (32 - 16) * ((100vw - 500px) / (1920 - 500)));
}




