{% extends "base.html" %}
{% block role %}
        <button class="reg_button" onclick="go_to_href('')">Каталог</button>
        {% if student %}
        <button class="reg_button" onclick="go_to_href('my_training')">Мои задания</button>
        {% endif %}
        {% if teacher %}
        <button class="reg_button" onclick="go_to_href('my_classes')">Мои классы</button>
        {% endif %}
        {% if parent %}
        <button class="reg_button" onclick="go_to_href('my_children')">Мои дети</button>
        {% endif %}
{% endblock %}
{% block content %}

<div class="book_page">
    <section class="bio">
        <img src="{{url_for('static', filename='user_data/' + book.avatar)}}" alt="Обложка">

    <form action="" method="post" id="task">
        {{ form_task.hidden_tag() }}
        <p>{{ form_task.submit(type="submit", class="btn btn-success") }}</p>
        <div>{{ message }}</div>
    </form>

    </section>
    <section class="photo">
      <h2 class="section-title">{{book.title}}</h2>
      <h4 class="section-title">{{book.author}}</h4>
      <h4 class="section-title">Рейтинг книги: {{book.likes}}</h4>
      <p>{{book.about}}</p>
    </section>
</div>
<br>
<div class="book_comment">
    <section>
        <h4>Добавление комментария </h4>
        <h6><small> Будьте вежливы и соблюдайте наши принципы пространства. Пожалуйста, не оставляйте решения и подсказки в комментариях</small></h6>
    </section>
    <form action="" method="post" id="comment">
        {{ form_comment.hidden_tag() }}
        <h6>
            {{ form_comment.content(class="form-control") }}<br>
            {% for error in form_comment.content.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </h6>
        <p>{{ form_comment.is_private() }} {{ form_comment.is_private.label }}</p>
        <p>{{ form_comment.submit(type="submit", class="btn btn-success") }}</p>
        {{message}}
    </form>
</div>
    <div class="comment">
        <h4 class="title_book_page">Мои комментарии</h4>
          {% for item in my_comments%}
            <div>
            <p>{{item.content}}</p>
            <h6> {% if item.is_private %} <span style="background: #58a700;"><i>Личное</i></span> {%endif%}
                Дата написания - {{item.created_date.strftime("%d %b %Y")}}</h6></div>

         {% endfor %}
    </div>
    <div class="comment">
        <h4 class="title_book_page">Комментарии читателей</h4>
          {% for item in comments%}
            <div>
            <p>{{item.content}}</p>
            <h6> Автор - <span style="background: #58a700;">{{item.user.name}}</span>,
                Дата написания - {{item.created_date.strftime("%d %b %Y")}}</h6></div>

         {% endfor %}
    </div>

{% endblock %}