{% extends "base.html" %}
{% block role %}
<button class="reg_button" onclick="go_to_href('new_class')">Новый класс</button>
{% endblock %}

{% block content %}
<div class="profile_page">
{% for job in jobs %}

<h3> Код класса: {{ job.code_class }}</h3>

<div class="table_container">
    <table class="table table-dark table-sm">
        <tr class="align-middle my_row">
            <td   >Название <br>класса</td>
            <td  >Дата <br>регистрации</td>
            <td > <a href="/classes/{{job.code_class}}">Ученики</a></td>
            <td   >Выданные задания</td>

        </tr>
        <tr class="align-middle my_row">
            <td >{{ job.name.capitalize() }}</td>
            <td >{{ job.registration_date }}</td>
            <td > {% for st in job.students.split() %}
            {% if loop.last %} {{loop.index}} {% endif %}
                {% endfor %}</td>
            <td >{{ job.id }}</td>
        </tr>

    </table>
</div>
{% endfor %}
</div>
{% endblock %}