{% extends "base.html" %}
{% block nav %}

{% endblock %}
{% block content %}

<div class="profile_page">
    <div>
        <h1>{{ username }}</h1>
        <br>
        <form action="" method="post" enctype="multipart/form-data" id="avatar_form">
        <div><p><label><img src="{{url_for('static', filename='user_data/' + user_avatar)}}" class="img-thumbnail"
                                            align="left" width="150" height="150"/>
                            <input type="file" id="photo" name="file" hidden>
                        </label></div>

            {{ forms[0].hidden_tag() }}
            {{ forms[0].submit_avatar(class="btn btn-secondary", type="submit") }}
        </form>
    </div>
        <div>
        <h4 class="label"> &#8986; Регистрация: {{ registration_date }}</h4>
        <h4 class="label">Выполнено заданий: {{ completed_books }}</h4>
</div>

    <hr><br>
    <form action="/logout" method="post">
        {{ forms[1].hidden_tag() }}
        <p>{{ forms[1].logout(type="submit", class="btn btn-success") }}</p>
    </form>
       </div>
{% endblock %}