{% extends "base.html" %}
{% block role %}
        <button class="reg_button" onclick="go_to_href('')">Каталог</button>

{% endblock %}
{% block content %}
<!--<ol class="days-list" >-->

<div class="days-list">
    <section class="books_page_filter">
        <fieldset>
        <h3>Задания по книге:  <progress id="tasks" max="100" value="70"> 70% </progress></h3>
        <legend><span style="background: #58a700">{{ current_book.title }}</span></legend>

                  {% set works= [('1', 'Выбери подходящую обложку'),
                                 ('2', 'Составляем классный кроссворд'),
                                 ('3', 'Выполни тест'),
                                 ('4', 'Облако слов'),
                                 ('5', 'Нарисуй главного героя'),
                                 ('6', '5 фактов об авторе'),
                                 ('7', 'Расшифруй непонятное слово'),
                                 ('8', 'Аудио-фрагмент в твоем исполнении'),
                                 ('9', 'Разгадай кроссворд'),
                                 ('10', 'Загрузи свою обложку')] %}
              <h6>
                  {% for item in works %}
                <label>
                    {% if item[0] == work %}
                    <input type="radio" name="tasks" value={{item}} checked>
                    {% else %}
                    <input type="radio" name="tasks" value={{item}}
                    onclick="go_to_href('student_book/t{{item[0]}}/{{current_book.id}}')">
                    {% endif %}

                    <nobr>{{item[1]}}</nobr>
                </label>
                  {% endfor %}
              </h6>
            </fieldset>


    </section>
</div>

    <div class="task-list">

          {% block task %} {% endblock %}

    </div>


{% endblock %}