{% extends "base.html" %}

{% block content %}

<div class="days-list">
    <section class="books_page_filter">
        <h3>Фильтр: </h3>
            <fieldset>
              <legend><b>Класс: {{ current_class }}</b></legend>
            </fieldset>

            <fieldset>
                  {% set works= [('new', 'новые'), ('work', 'в работе'), ('completed', 'завершенные')] %}
              <legend><u>Готовность:</u></legend>
              <h4 class="filter-price">
                  {% for item in works %}
                <label>
                    {% if item[0] == work %}
                    <input type="radio" name="works" value={{item}} checked>
                    {% else %}
                    <input type="radio" name="works" value={{item}}
                    onclick="go_to_href('book_base/student_base_{{item[0]}}_{{current_genre}}_{{current_class}}')">
                    {% endif %}

                    <nobr>{{item[1]}}</nobr>
                </label>
                  {% endfor %}
              </h4>
            </fieldset>

        <fieldset>
              <legend><u>Жанры:</u></legend>
              <h4 class="filter-price">
                  {% for item in genres %}
                      <label>
                          {% if item.id|string() == current_genre %}
                            <input type="radio" name="genres" value={{item.id}} checked>
                          {% else %}
                            <input type="radio" name="genres" value={{item.id}}
                                   onclick="go_to_href('book_base/student_base_{{work}}_{{item.id}}_{{current_class}}')">
                          {% endif %}
                          <nobr> {{item.title}} </nobr>
                      </label>

                  {% endfor %}
              </h4>
            </fieldset>
    </section>
    <section class="books_page_sort">
          <legend><u>Сортировка:</u></legend>
              <p><a href="#"><nobr>по автору </nobr></a>
              <a href="#"><nobr>по названию</nobr></a>
            <a href="#"><nobr>по рейтингу</nobr></a></p>

    </section>
</div>
<div class="days-list-many">
    {% for book in books%}
    <article ><a href="/books/{{book.id}}">
          <h4 ><span style="background: #58a700;"><i>{{book.likes}}</i></span> {{book.title}}</h4>
        <h5 >{{book.author}} </h5>
           <img class="days-list-img" src="{{url_for('static', filename='user_data/' + book.avatar)}}"></a>
    </article>

    {% endfor %}
</div>
{% endblock %}