{% extends "base.html" %}

{% block content %}
<!--<ol class="days-list" >-->

<div class="days-list">
    <section class="books_page_filter">
        <h3>Фильтр: </h3>
            <fieldset>
                  {% set class = ['all', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'] %}
              <legend>Класс:</legend>
              <h4 class="filter-price">
                  {% for item in class %}
                      <label>
                          {% if item == current_class %}
                            <input type="radio" name="classes" value={{item}} checked>
                          {% else %}
                            <input type="radio" name="classes" value={{item}}
                                   onclick="go_to_href('book_base/teacher_base_{{current_genre}}_{{item}}')">
                          {% endif %}
                        {{item}}
                      </label>

                  {% endfor %}
              </h4>
            </fieldset>

            <fieldset>
              <legend>Жанры:</legend>
              <h4 class="filter-price">
                  {% for item in genres %}
                      <label>
                          {% if item.id|string() == current_genre %}
                            <input type="radio" name="genres" value={{item.id}} checked>
                          {% else %}
                            <input type="radio" name="genres" value={{item.id}}
                                   onclick="go_to_href('book_base/teacher_base_{{item.id}}_{{current_class}}')">
                          {% endif %}
                          <nobr> {{item.title}} </nobr>
                      </label>

                  {% endfor %}
              </h4>
            </fieldset>
    </section>
    <section class="books_page_sort">
          <h3>Сортировка:
              <a href="#"><nobr>по автору </nobr></a>
              <a href="#"><nobr>по названию</nobr></a>
            <a href="#"><nobr>по рейтингу</nobr></a>
          </h3>
    </section>

    {% for book in books%}
    <article class="good">
          <h2 class="good-name">{{book.author}} {{book.title}}</h2>
          <a href="/books/{{book.id}}"> <img src="{{url_for('static', filename='user_data/' + book.avatar)}}"></a>
    </article>

    {% endfor %}
</div>
{% endblock %}