{% extends "base.html" %}

{% block content %}
<!--<ol class="days-list" >-->

<div class="days-list">
    <section class="books_page_filter">
        <h3>Фильтр: </h3>
            <fieldset>
                  {% set class = ['all', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'] %}
              <legend><u>Класс:</u></legend>
              <h4 class="filter-price">
                  {% for item in class %}
                      <label>
                          {% if item == current_class %}
                            <input type="radio" name="classes" value={{item}} checked>
                          {% else %}
                            <input type="radio" name="classes" value={{item}}
                                   onclick="go_to_href('book_base/teacher_base_{{current_genre}}_{{item}}')">
                          {% endif %}
                        {{item}}
                      </label>

                  {% endfor %}
              </h4>
            </fieldset>

            <fieldset>
              <legend><u>Жанры:</u></legend>
              <h4 class="filter-price">
                  {% for item in genres %}
                      <label>
                          {% if item.id|string() == current_genre %}
                            <input type="radio" name="genres" value={{item.id}} checked>
                          {% else %}
                            <input type="radio" name="genres" value={{item.id}}
                                   onclick="go_to_href('book_base/teacher_base_{{item.id}}_{{current_class}}')">
                          {% endif %}
                          <nobr> {{item.title}} </nobr>
                      </label>

                  {% endfor %}
              </h4>
            </fieldset>
    </section>
    <section class="books_page_sort">
          <legend><u>Сортировка:</u></legend>
             <p><a href="#"><nobr>по автору </nobr></a>
              <a href="#"><nobr>по названию</nobr></a>
                 <a href="#"><nobr>по рейтингу</nobr></a></p>

    </section>
</div>
<div class="days-list-many">
    {% for book in books%}
    <article><a href="/books/{{book.id}}">
         <h4 ><span style="background: #58a700;"><i>{{book.likes}}</i></span> {{book.title}}</h4>
        <h5 >{{book.author}} </h5>
           <img src="{{url_for('static', filename='user_data/' + book.avatar)}}"></a>
    </article>

    {% endfor %}
</div>
{% endblock %}